{{ site_admin }}

{{ if hamburger_animation == 'default' }}
    {{ partial:components/navigation/hamburger class="p-2" option="default" }}
{{  /if }}

{{ if hamburger_animation == 'option 1' }}
    {{ partial:components/navigation/hamburger option="option 1" }}
{{  /if }}

{{ if hamburger_animation == 'option 2' }}
    {{ partial:components/navigation/hamburger class="flex option2-{{ option_2_speed }}" option="option 2" }}
{{ /if }}


{{ if hamburger_animation == 'option 3' }}
    {{ partial:components/navigation/hamburger class="w-[39px] overflow-hidden border-0 bg-transparent" option="option 3" }}
{{ /if }}


{{ /site_admin }}
