{{  if hero_activated }}
<div id="hero" class="flex flex-col items-center justify-center w-full relative
{{ background_colour }} {{ dark_background_colour }} {{ text_colour }} {{ dark_text_colour }} {{ hero_size }}
">
{{ if image_or_colour == 'image' }}

    <img src="{{ glide:image preset="hero" }}" alt="{{ image.alt }}"
                                               class="absolute z-1 w-full {{ hero_size }}">

    {{ /if }}
    {{ if display_which == 'heading' }}
            <h1 id="heroText" class="z-10">
                {{ heading | widont }}
            </h1>
        {{  if sub_heading }}
                <p class="z-10 text-3xl">{{ sub_heading | widont}}</p>
            {{ /if }}
        {{ else }}
            <p class="z-10 text-4xl">
                {{ introduction | widont }}
            </p>
        {{  /if }}
    {{ partial:components/button
        label="Button"
        type="link"
        destination="{url}"
        new_window="true"
    }}
</div>
{{ /if }}
