<div>
    <div class="my-section lg:my-lg-section overflow-x-hidden">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div>
                <img src="{{ glide:left_image preset='side_by_side' }}" {{ left_image.alt }} loading="lazy" data-aos="fade-right" class="h-full">
            </div>
            <div>
                <img src="{{ glide:right_image preset='side_by_side' }}" {{ right_image.alt }} loading="lazy" data-aos="fade-left" class="h-full">
            </div>
        </div>
    </div>
</div>

