{{ once }}
    {{  push:styles }}
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {{ /push:styles }}
{{ /once }}

<div class="my-section lg:my-lg-section">
    <div class="mx-auto main-carousel w-[400px] h-[300px] md:w-[800px] md:h-[600px]" data-flickity='{ "cellAlign": "left", "contain": true, "fullscreen": true, "lazyLoad": 1 }'>
                    {{  slider_images }}
        <div class="carousel-cell">
                    <img src="{{ glide:url preset="slider_image" }}" alt="{{ alt }}" class="w-[400px] h-[300px] md:w-[800px] md:h-[600px]">
        </div>
                {{  /slider_images }}
    </div>
</div>

{{ once }}
    {{  push:scripts }}
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    {{  /push:scripts }}
{{ /once }}
