    <section class="container my-section lg:my-lg-section">
        {{ form:contact_us }}
            {{#              Adding js='alpine' means its now an alpine form #}}
            {{ if success }}
                <p class="mb-4 font-bold text-primary">Thanks! Someone will be in touch soon.</p>
            {{ /if }}
            {{ if errors }}
                <p class="text-red-600">There are errors! Please fix them below.</p>
                <ul class="text-red-500">
                    {{ errors }}
                        <li>{{  value }}</li>
                    {{ /errors }}
                </ul>
            {{ /if }}
            <div class="flex flex-col gap-4 pb-4">
                <input type="hidden" name="username">
                {{ fields }}
                    {{ field }}
                {{ /fields }}
            </div>
            <button
                class="inline-block w-full rounded-lg px-8 py-3 font-bold transition bg-secondary text-primary hover:bg-primary hover:text-secondary md:w-auto">
                Submit
            </button>
        {{ /form:contact_us }}
    </section>
