<div class="block flex flex-col rounded-xl bg-gray-600/10 transition ease-in-out h-[500px] group duration-[400ms] hover:scale-105">
    <a href="{{ url }}" class="relative overflow-hidden rounded-t-xl">
        <img class="h-60 w-full scale-110 object-cover transition ease-in-out duration-[400ms] group-hover:scale-100" src="{{ glide:featured_image preset="news_image" }}" alt="{{ feature_image.alt }}">
        <div class="absolute inset-0 z-20 h-60 w-full bg-gradient-to-br from-green-800 to-red-500 object-cover opacity-0 mix-blend-overlay transition ease-in-out duration-[400ms] group-hover:opacity-75"></div>
    </a>
    <div class="flex flex-1 flex-col justify-between px-6 py-8">
        <h3 class="text-2xl font-bold text-secondary">
            <a href="{{ url }}" class="transition hover:text-primary" aria-label="{{ title }}">{{ title }}</a>
        </h3>
        {{ if ! hide_author }}
            <div class="flex items-end justify-between">
                <div>
                    <p>{{ date }}</p>
                    <p class="text-sm">By <a href="" class="text-secondary hover:text-primary">{{ author:name }}</a></p>
                </div>

                {{ if ! hide_tag }}
                    {{ tags }}
                        <a href="{{ url }}" class="rounded-full px-3 py-1 text-sm font-bold text-gray-100 transition bg-primary hover:bg-orange-500" aria-label="{{ title }}">{{ title }}</a>
                    {{ /tags }}
                {{ /if }}
            </div>
        {{ else }}

                <div class="flex items-end justify-between">
                    <div>
                        <p class="text-sm text-secondary">{{ content }}</p>
                    </div>


                </div>

            {{ /if }}

    </div>
</div>
